<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Skills</h1>
    <a href="/skills/new">Add a Skills</a>
    <ul>
        <% skills.forEach(skill=> { %>
            <li><form action="">
                <button type="submit">X</button>
                <a href="skills/<%= skill.id %>"><%= skill.skill %></a>
            </form>
            </li>
            <% }) %>
    </ul>
</body>
</html>